= render partial: 'layouts/digest_gem/tab_nav', locals: {active: 'additional_product_info'}

.row
  .additional-product-info
    .col-md-3.ap_menu
      .list-group
        -for item in @types
          -if item.name == @type.name
            =link_to item.name, additional_product_infos_path(type: item.name), class: 'list-group-item active'
          -else
            =link_to item.name, additional_product_infos_path(type: item.name), class: 'list-group-item'

    .col-md-8
      .col-md-12
        %h1
          =@type.name
      .col-md-12
        %fieldset
          .pull-left.col-md-6
            %label
              =@type.main_category_label
            = select_tag(:circuit_breaker, options_for_select(@circuit_breakers, "all"), multiple: false, prompt: "Choose One", class: 'form-control', id: "mycircuit", type: @type.name )
          -if @type.sub_category_label != ''
            .pull-left.col-md-6.secondary
              %label
                =@type.sub_category_label
              = select_tag(:trip_curve, options_for_select(@circuit_breakers, "all"), disabled: true, prompt: "Choose One", class: 'form-control', id: "trips", type: @type.name)
      .result_section
        .col-md-12
          %h3.results
            Results
        .col-md-12.products
          =render 'products'

